
*.pyc
.vscode/settings.json
_*
dev/logs/
dev/results/
results/*
data/*
scripts/*
!*/.gitkeep
!*/README.md
!data/src/
!results/final/
!scripts/hypertune
!scripts/gen_exps.py
!scripts/gen_exps_adv_moji.py
!scripts/gen_exps_adv_bios.py